# Tasca M3 T02
### Descripció
**Exercicis amb Dataframes.**

## - Exercici 1
**Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.**

*Important: Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.*

In [14]:
import pandas as pd 

#busco i anomeno l'arxiu:
arxiu = "C:/Users/julia/Downloads/archive/DelayedFlights.csv"

#cargar el csv a un dataframe de pandas:
df = pd.read_csv(arxiu)

In [15]:
#Visualitzar les primeres files del dataframe:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Cada columna fa referencia a un tipus d'informació diferent. Des de l'any (Year), mes (Month), dia del mes (DayofMonth), dia de la setmana(DayofWeek), en que l'avió va volar. També hi ha una columna que fa referencia al temps de sortida (DepTime), a l'hora que estava establerta sortir (CRSDepTime), l'hora d'arribada (ArrTime), l'hora establerta d'arribada (CRSArrTime). (UniqueCarrier) fa referencia a l'aerolinia especifica del vol. (TaxiIn) i (TaxiOut), fan referencia al temps en que l'avió arriba a la porta d'arribada de l'aeroport i al temps que tarda en moure's per la pista per enlairar-se. També indica si el vol s'ha cancelat o no, i els tipus de retràs que pot haver tingut entre d'altres...

In [48]:
# Informació sobre les columnes i dades
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [49]:
df.isna().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

Veiem que les ultimes 5 columnes els hi falten moltes dades. El resum del dataset ens indica que els vols amb retrasos de menys de 15 minuts no es compten per aixo no hi falten dades. També s'ha de tenir en compte els vols cancelats i desviats. Anem a comprovar-ho:

In [58]:
df[df['ArrDelay'] < 15].shape[0]

680883

El valor anterior ens indica que hi ha 680883 vols amb retrasos de menys de 15 minuts, ara miro els cancelats i desviats també:

In [61]:
df.Cancelled.value_counts()

0    1936125
1        633
Name: Cancelled, dtype: int64

In [62]:
df.Diverted.value_counts()

0    1929004
1       7754
Name: Diverted, dtype: int64

In [64]:
valors_nuls = 680883 + 633 + 7754
valors_nuls

689270

Efectivament coincideix amb el valor de valors nuls del df

En quant a la selecció de columnes per df reduit, nomes seleciono les columnes d'interès en el sentit de que hi ha columnes que es repeteixen o que es poden extreure les dades d'altres formes i també algunes columnes que els hi falten dades.

In [65]:
df_reduit = df[['DepTime', 'FlightNum', 'TailNum', 'UniqueCarrier', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'Cancelled', 'Diverted']]
df_reduit

,DepTime,FlightNum,TailNum,UniqueCarrier,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,2003.0,335,N712SW,WN,116.0,-14.0,8.0,IAD,TPA,810,0,0
1,754.0,3231,N772SW,WN,113.0,2.0,19.0,IAD,TPA,810,0,0
2,628.0,448,N428WN,WN,76.0,14.0,8.0,IND,BWI,515,0,0
3,1829.0,3920,N464WN,WN,77.0,34.0,34.0,IND,BWI,515,0,0
4,1940.0,378,N726SW,WN,87.0,11.0,25.0,IND,JAX,688,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,1250.0,1621,N938DL,DL,120.0,25.0,30.0,MSP,ATL,906,0,0
1936754,657.0,1631,N3743H,DL,78.0,75.0,57.0,RIC,ATL,481,0,0
1936755,1007.0,1631,N909DA,DL,122.0,99.0,80.0,ATL,IAH,689,0,0
1936756,1251.0,1639,N646DL,DL,89.0,9.0,11.0,IAD,ATL,533,0,0
1936757,1110.0,1641,N908DL,DL,104.0,-5.0,7.0,SAT,ATL,874,0,0

In [66]:
# Elimino les files amb els valors nuls a 'AirTime' y 'ArrDelay'
df2 = df_reduit.dropna(subset=['AirTime', 'ArrDelay'])
df2

,DepTime,FlightNum,TailNum,UniqueCarrier,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
0,2003.0,335,N712SW,WN,116.0,-14.0,8.0,IAD,TPA,810,0,0
1,754.0,3231,N772SW,WN,113.0,2.0,19.0,IAD,TPA,810,0,0
2,628.0,448,N428WN,WN,76.0,14.0,8.0,IND,BWI,515,0,0
3,1829.0,3920,N464WN,WN,77.0,34.0,34.0,IND,BWI,515,0,0
4,1940.0,378,N726SW,WN,87.0,11.0,25.0,IND,JAX,688,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,1250.0,1621,N938DL,DL,120.0,25.0,30.0,MSP,ATL,906,0,0
1936754,657.0,1631,N3743H,DL,78.0,75.0,57.0,RIC,ATL,481,0,0
1936755,1007.0,1631,N909DA,DL,122.0,99.0,80.0,ATL,IAH,689,0,0
1936756,1251.0,1639,N646DL,DL,89.0,9.0,11.0,IAD,ATL,533,0,0
1936757,1110.0,1641,N908DL,DL,104.0,-5.0,7.0,SAT,ATL,874,0,0

In [67]:
df_reduit = df2.sample(n=200000, random_state=28)
df_reduit

,DepTime,FlightNum,TailNum,UniqueCarrier,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted
399940,1529.0,1869,N343SW,WN,134.0,38.0,34.0,SAT,PHX,843,0,0
1572430,1120.0,1564,N172US,US,228.0,-5.0,20.0,SAN,CLT,2077,0,0
457322,1242.0,1120,N306UA,UA,187.0,26.0,27.0,DEN,PHL,1557,0,0
1434084,2319.0,241,N431WN,WN,106.0,179.0,214.0,PHL,MDW,668,0,0
502300,704.0,3665,N647AE,MQ,43.0,13.0,14.0,DFW,TUL,237,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1715671,1909.0,1551,N416AA,AA,106.0,-11.0,10.0,LGA,BNA,764,0,0
1175188,1503.0,1057,N134DL,DL,290.0,20.0,8.0,ATL,SEA,2182,0,0
1211762,1517.0,232,N339NB,NW,72.0,53.0,9.0,DTW,DCA,405,0,0
1220798,806.0,5860,89289E,9E,30.0,17.0,6.0,AZO,DTW,113,0,0
950783,1425.0,6718,N971SW,OO,95.0,7.0,9.0,XNA,DEN,616,0,0

## - Exercici 2
**Fes un informe complet del dataset:**

**Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
Troba quantes dades faltants hi ha per columna.
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
Fes una taula de les aerolínies amb més endarreriments acumulats.
Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
Aporta allò que consideris rellevant.**

In [68]:
df_reduit.describe()

,DepTime,FlightNum,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.0,200000.0
mean,1518.128565,2184.706640,108.354610,42.023620,42.943080,765.773990,0.0,0.0
std,450.624256,1944.642305,68.749001,56.911008,53.324039,574.663077,0.0,0.0
min,1.000000,1.000000,4.000000,-109.000000,6.000000,31.000000,0.0,0.0
25%,1203.000000,613.000000,58.000000,9.000000,12.000000,340.000000,0.0,0.0
50%,1545.000000,1543.000000,90.000000,24.000000,24.000000,606.000000,0.0,0.0
75%,1900.000000,3419.000000,137.000000,55.000000,53.000000,998.000000,0.0,0.0
max,2400.000000,7829.000000,1091.000000,1707.000000,1710.000000,4962.000000,0.0,0.0

**Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).**

In [69]:
#velocitat mitjana = distancia/temps 

df_reduit['Velocitat_mitjana'] = df_reduit['Distance'] / df_reduit['AirTime']
df_reduit

,DepTime,FlightNum,TailNum,UniqueCarrier,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Velocitat_mitjana
399940,1529.0,1869,N343SW,WN,134.0,38.0,34.0,SAT,PHX,843,0,0,6.291045
1572430,1120.0,1564,N172US,US,228.0,-5.0,20.0,SAN,CLT,2077,0,0,9.109649
457322,1242.0,1120,N306UA,UA,187.0,26.0,27.0,DEN,PHL,1557,0,0,8.326203
1434084,2319.0,241,N431WN,WN,106.0,179.0,214.0,PHL,MDW,668,0,0,6.301887
502300,704.0,3665,N647AE,MQ,43.0,13.0,14.0,DFW,TUL,237,0,0,5.511628
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715671,1909.0,1551,N416AA,AA,106.0,-11.0,10.0,LGA,BNA,764,0,0,7.207547
1175188,1503.0,1057,N134DL,DL,290.0,20.0,8.0,ATL,SEA,2182,0,0,7.524138
1211762,1517.0,232,N339NB,NW,72.0,53.0,9.0,DTW,DCA,405,0,0,5.625000
1220798,806.0,5860,89289E,9E,30.0,17.0,6.0,AZO,DTW,113,0,0,3.766667
950783,1425.0,6718,N971SW,OO,95.0,7.0,9.0,XNA,DEN,616,0,0,6.484211

**Fes una taula de les aerolínies amb més endarreriments acumulats.**

In [70]:
#agrupem el dataset df_reduit per aerolinies, despres agafem nomes la columna ArrDelay i les sumem per cada aerolinia:
endarreriment_acumulat = df_reduit.groupby('UniqueCarrier')['ArrDelay'].sum()
endarreriment = endarreriment_acumulat.sort_values(ascending=False)
pd.DataFrame(endarreriment)
print(endarreriment)

UniqueCarrier
WN    1169991.0
AA     935962.0
UA     701018.0
MQ     663904.0
OO     599332.0
XE     526294.0
DL     465318.0
CO     415369.0
EV     398613.0
YV     392448.0
US     360796.0
NW     354651.0
FL     321755.0
B6     311649.0
OH     286945.0
9E     246864.0
AS     143923.0
F9      79548.0
HA      28206.0
AQ       2138.0
Name: ArrDelay, dtype: float64

**Quins són els vols més llargs?**

In [71]:
flight_num_counts = df['FlightNum'].value_counts()
print(flight_num_counts)

16      1586
50      1550
40      1507
15      1471
44      1447
        ...
7681       1
7032       1
6893       1
6914       1
5272       1
Name: FlightNum, Length: 7499, dtype: int64

Veiem que per un mateix FlightNum hi ha diferents dades, aixi que no puc sumar sino que calculem la mitjana dels valors.

In [72]:
temps_vol_df = df_reduit.groupby(['FlightNum', 'Origin', 'Dest'])['AirTime'].mean()
vols_mes_llargs = temps_vol_df.sort_values(ascending=False)


print(vols_mes_llargs.head())

FlightNum  Origin  Dest
15         EWR     HNL     604.378378
851        ATL     HNL     563.625000
1273       ATL     HNL     559.833333
1561       ATL     HNL     544.400000
14         HNL     EWR     541.625000
Name: AirTime, dtype: float64

**I els més endarrerits?(segons el FlighNum, es a dir, els vols que s'han fet que s'han edarrerit més)**

In [80]:
retras = df_reduit.groupby(['FlightNum', 'Origin', 'Dest'])['ArrDelay'].mean()

vols_mes_retrasats = retras.sort_values(ascending=False)


print(vols_mes_retrasats.head())

FlightNum  Origin  Dest
357        BOS     MSP     1655.0
1790       DTW     CMH     1022.0
1730       SJU     DTW      989.0
1735       MCO     MIA      700.0
1639       EGE     MSP      699.5
Name: ArrDelay, dtype: float64

**Busca les rutes més llargues**

In [81]:
distt = df_reduit.groupby(['Origin', 'Dest'])['Distance'].mean()

rutes_dist_2 = distt.sort_values(ascending=False)


print(rutes_dist_2.head())

Origin  Dest
HNL     EWR     4962.0
EWR     HNL     4962.0
ATL     HNL     4502.0
HNL     ATL     4502.0
ORD     HNL     4243.0
Name: Distance, dtype: float64

**i les que acumulen més retards.(mitjana de tots els vols d'una mateixa ruta)**

In [83]:
distancia_vol_df = df_reduit.groupby(['Origin', 'Dest'])['ArrDelay'].mean()
vols_ordenats_per_distancia = distancia_vol_df.sort_values(ascending=False)


print(vols_ordenats_per_distancia.head())

Origin  Dest
EGE     MSP     699.50
SJU     DTW     600.25
PSP     MSP     352.00
MTJ     EWR     274.00
EWR     MTJ     270.00
Name: ArrDelay, dtype: float64

## - Exercici 3
**Exporta el dataset net i amb les noves columnes a Excel.**

In [86]:
df_reduit.to_excel('Airlines_delays_clean.xlsx', index=False)